
body{
    background-color: grey;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: cornflowerblue;
}

header h2{
text-align:center;
}

main{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.image1,.image2,.image3,.image4,.image5,.image6 {
    width: 700px; 
    height: 400px
}

footer{
    text-align: right;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
}